@keyframes moveArrowLeft {
    from {
        left: 50%
    }

    25% {
        left: -20%;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        left: 140%;
        opacity: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes moveArrowRight {
    from {
        left: 50%
    }

    25% {
        left: 120%;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        left: -40%;
        opacity: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes menuArrow {
    from {
        left: 0;
        opacity: 0;
    }

    to {
        left: 30px;
        opacity: 1;
    }
}